/* hero section */

.site-hero {
    background-color: var(--color-dark);
    color: var(--color-light-text);
}

.hero-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5rem 24px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero-content,
.hero-image {
    flex: 1;
    min-width: 0;
}

.hero-heading {
    font-family: "Roboto ExtraBold", sans-serif;
    font-size: 48px;
    font-weight: bolder;
}

.hero-subtext {
    color: var(--color-secondary-text);
    font-family: "Roboto Medium", sans-serif;
    font-size: 18px;
}

.hero-button {
    color: var(--color-light-text);
    background-color: var(--color-blue-accent);
    font-family: "Roboto Medium", sans-serif;
    font-size: 20px;
    font-weight: lighter;
    text-decoration: none;
    transition: background-color 0.2s ease;

    display: inline-block;
    width: fit-content;
    padding: 10px 3rem;
    font-weight: 600;
    border-radius: 6px;
}

.hero-button:hover {
    background-color: #2563eb;
}

.hero-image img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* 4 images about features section*/

.features-wrapper {
    background-color: var(--color-light-text);
    width: 100%;
}

.features-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 3rem;
    max-width: 1000px;
    margin: 0 auto;
    padding: 3rem 24px;
}

.features-heading {
    font-family: "Roboto ExtraBold", sans-serif;
    font-size: 36px;
    font-weight: bolder;
    color: var(--color-dark);
}

.features-steps {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 20px;
    margin-bottom: 3rem;
    gap: 2rem;
}

.feature_item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-shrink: 1;
    flex-basis: 240px;
    min-width: 0;
}

.feature-icon {
    width: 240px;
    /* height: 240px; */
    max-width: 100%;
    aspect-ratio: 1/1;;
    height: auto;
    object-fit: contain;

    border: 5px solid var(--color-blue-accent);
    border-radius: 16px;
    display: block;
}

.icon-caption {
    color: var(--color-dark);
    font-family: "Roboto Medium", sans-serif;
    font-size: 18px;
    text-align: center;
}

/* quote/testimonial section */

.testimonial-wrapper {
    background-color: var(--color-secondary-text);
    width: 100%;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 3rem;
    max-width: 900px;
    margin: 0 auto;
    padding: 3rem 24px;
}

.quote {
    font-family: "Roboto Light Italic", sans-serif;
    font-size: 36px;
    font-weight: lighter;
    color: var(--color-dark);
}

.quote-author {
    font-family: "Roboto Medium", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: var(--color-dark);

    align-self: flex-end;
}

/* call to action section */

.cta-wrapper {
    background-color: white;
    width: 100%;
    padding: 0 1.25rem;
}

.call-to-action {
    color: var(--color-light-text);
    background-color: var(--color-blue-accent);

    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;

    gap: 3rem;
    max-width: 1100px;
    margin: 5rem auto;
    padding: 3rem 7rem;
    border-radius: 12px;
}

.cta-heading {
    font-family: "Roboto Medium", sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding: 3px;
}

.cta-subtext {
    font-family: "Roboto Light", sans-serif;
    font-weight: normal;
    font-size: 18px;
}

.cta-button {
    color: var(--color-light-text);
    background-color: var(--color-blue-accent);
    font-family: "Roboto Medium", sans-serif;
    font-size: 20px;
    font-weight: lighter;
    text-decoration: none;
    transition: background-color 0.2s ease;

    display: inline-block;
    width: fit-content;
    padding: 10px 3rem;
    font-weight: 600;
    justify-content: flex-end;
    white-space: nowrap;

    border: 3px solid var(--color-light-text);
    border-radius: 8px;
}

.cta-button:hover {
    background-color: var(--color-light-text);
    color: var(--color-blue-accent);
    border: 3px solid var(--color-light-text);
}

/* update page layout for phone screens */
@media (max-width: 768px) {
    .hero-container {
        flex-direction: column;
    }

    .hero-image img {
        border-radius: 24px;
        max-height: 400px;
    }

    .call-to-action {
        flex-direction: column;
        justify-content: flex-start;
    }

    .features-steps {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
    }

    .feature_item {
        align-items: center;
        flex-basis: 45%; /* roughly 2 per row */
    }

    .feature-icon {
        width: 160px;
    }
}