.site-header {
    font-family: "Roboto Medium", sans-serif;
    background-color: var(--color-dark);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 18px 24px;
}

.company-name {
    /* display: flex; */
    font-size: 24px;
    /* justify-content: space-between; */
    color: var(--color-light-text);
    text-decoration: none;
}

.header-links {
    /* width: 50px;
    height: 50px; */
    display: flex;
    gap: 48px;
    font-size: 18px;
    /* padding: 10%; */
}

.header-links a {
    color: var(--color-secondary-text);
    text-decoration: none;
}
